{% block content %}
    <span {{ attributes.defaults({
        'class': 'ux-search-total-hits'
    }) }} >
        {{ 'results'|trans({'%count%': totalHits}, domain='mezcalito_ux_search') }}
    </span>
{% endblock %}
